.bslider {
    overflow-x: auto;
    text-wrap: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
}
.bslider.bslider-active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.bslider-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    text-align: center;
}

/* جلوگیری از انتخاب متن داخل آیتم‌ها */
.bslider-item,
.bslider-item * {
    -webkit-user-drag: none;
}

.bslider {
    /* For WebKit browsers (Chrome, Safari, Opera) */
    ::-webkit-scrollbar {
        display: none;
    }
    /* For IE, Edge, and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
