@import "../../app.css";
@import "../../component/comment/index.css";

#recipe-body img {
    max-height: 420px;
    border-radius: 12px;
    margin: 16px 0;
    transition: scale 300ms;
}

#recipe-body img:hover {
    scale: calc(105%);
}

#recipe-body h2 {
    font-size: 28px;
    padding-bottom: 4px;
    margin: 8px 0;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
}

#recipe-body p {
    font-size: 18px;
}

/* #recipe-body img{} */
